@model List<C1D1_DaoTrongHoan_2021606290.Models.ThiSinh>

@*@{
    ViewBag.Title = "Danh Sách Sinh Viên Trúng Tuyển";
}*@

<h2>Danh Sách Sinh Viên Trúng Tuyển(Có tổng điểm thi > 15)</h2>

@Html.Partial("ThiSinhList", Model)
